<div class="col-lg-6 col-md-12">
  <div class="m-article">
    <div class="m-article__block">
      <!-- Status -->
      <% if current_user %>
      <span class="top-right badge badge-pill badge-<%= article.status == "unpublished" ? "danger" : "primary" %> text-capitalize px-3 py-2"><%= article.status %></span>
      <% end %>

      <!-- Article Info -->
      <div class="d-flex align-items-center">
        <%= image_tag article.user.image, class: "m-article__user-image rounded-circle", alt: article.user.first_name %>
        <div class="m-article__user-meta">
          <h6 class="m-article__user-name mb-0"><%= article.user.first_name %> <%= article.user.last_name %></h6>
          <span class="text-muted"><%= article.created_at.to_formatted_s(:long) %></span>
        </div>
      </div>
      <%= link_to article_path(article), class: "m-article__link" do%>
      <%= image_tag article.image, class: "m-article__image", alt: article.title %>
      <h4 class="m-article__title text-primary"><%= article.title %></h4>
      <p class="m-article__body text-muted"><%= ActionView::Base.full_sanitizer.sanitize(article.body.truncate(200)) %></p>
      <% end %>

      <!-- Link to Edit -->
      <% if user_signed_in? %>
      <div class="text-center">
        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
