<%= form_for(article) do |f| %>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control", required: true %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <%= f.label :status %>
            <%= f.select :status, Article.statuses.keys, {}, {class: "form-control"} %>
        </div>
    </div>
</div>

<!-- WYSIWYG EDITOR -->
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, class: "form-control wysihtml5", required: true %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <% image_url = @article.image || "" %>
            <%= image_tag image_url, class: "js-image-preview rounded-circle mb-3", alt: "User Image" %><br>
            <%= f.filepicker_field :image, mimetypes:'image/*', onchange: 'onPhotoUpload(event)', required: true  %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="float-xs-right">
            <%= link_to 'Back', articles_path, class: "btn btn-outline-primary px-5" %>
            <%= f.submit "Save", class: "btn btn-primary px-5", required: true %>
        </div>
    </div>
</div>
<% end %>

<script type="text/javascript">
function onPhotoUpload(event) {
    $('.js-image-preview').attr('src', event.fpfile.url);
}
</script>

<script type="text/javascript">
$(document).ready(function(){

    // INITIALIZE WYSIWYG
    $('.wysihtml5').wysihtml5();
    // BS3 FIXES FOR WYSIWYG
    $(".btn-default").removeClass("btn-default").addClass("btn-secondary");
    $(".glyphicon").removeClass("glyphicon").addClass("fa");
    // ICONS
    $(".glyphicon-font").removeClass("glyphicon-font").addClass("fa-font");
    $(".glyphicon-quote").removeClass("glyphicon-quote").addClass("fa-quote-right");
    $(".glyphicon-list").removeClass("glyphicon-list").addClass("fa-list-ul");
    $(".glyphicon-th-list").removeClass("glyphicon-th-list").addClass("fa-list-ol");
    $(".glyphicon-indent-right").removeClass("glyphicon-indent-right").addClass("fa-arrow-left");
    $(".glyphicon-indent-left").removeClass("glyphicon-indent-left").addClass("fa-arrow-right");
    $(".glyphicon-share").removeClass("glyphicon-share").addClass("fa-link");
    $(".glyphicon-picture").removeClass("glyphicon-picture").addClass("fa-picture-o");
    // MENU ITEMS
    $(".dropdown-menu li a").addClass("dropdown-item");
});
</script>
