<!-- Style Override for Background Image -->
<style media="screen">
.m-banner--article { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= @article.image %>); }
</style>

<section class="m-banner m-banner--article">
  <h1 class="text-white"><%= @article.title %></h1>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="breadcrumb mb-0 mt-3">
          <%= link_to t("brand_long"), root_path, class: "breadcrumb-item" %>
          <%= link_to t("layouts.header.articles"), articles_path, class: "breadcrumb-item" %>
          <%= link_to @article.created_at.to_formatted_s(:long), "#", class: "breadcrumb-item active" %>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="l-content l-content--white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="l-content__body">
          <h3 class="l-content__title"><%= @article.title %></h3>
          <p><%= simple_format(@article.body) %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Add Mailing List -->
<%= render partial: "layouts/mailing_list" %>

<section class="l-content l-content--grey l-content--bordered">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="l-content__title"><%= t(".related_articles") %></h3>
      </div>
    </div>
    <div class="row">
      <%= render partial: "article_card_small" %>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function(){
  // Add Responsive Class
  $("#articleDescription img").addClass("img-fluid");
});
</script>
