<%= render partial: "layouts/topper", locals: {type: "contact", title: t(".header_title"), body: t(".header_body")} %>

<!-- Location -->
<section class="l-content l-content--white l-content--bordered l-content--lg">
  <div class="container">
    <!-- Location Information -->
    <div class="row mb-5">
      <div class="col-md-4 pr-sm-5 mb-5 mb-sm-0 br">
        <h5><%= t("address") %></h5>
        <%= t("street_address_1") %>
        <br>
        <%= t("street_address_2") %>
        <%= link_to t("get_directions"), t("location_link"), class: "btn btn-primary btn-sm mt-3", target: "_blank" %></a>
      </div>

      <div class="col-md-4 px-sm-5 mb-5 mb-sm-0 br">
        <h5><%= t("hours") %></h5>
        <ul class="list-unstyled">
          <% @hours.each do |day| %>
          <li>
            <span class="text-capitalize"><%= day["name"]%>:</span>
            <span class="float-right"><%= day["hours"] %></span>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-4 pl-sm-5">
        <h5><%= t("contact") %></h5>
        <a href="tel:<%= t("phone_number") %>"><%= t("phone_number") %></a><br>
        <a href="mailto:<%= t("email_address") %>"><%= t("email_address") %></a>
      </div>
    </div>

    <!-- Map of Oak Clinic -->
    <div class="row">
      <div class="col-md-12 mt-4 mt-sm-0">
        <div id="map" class="mb-3"></div>
      </div>
    </div>
  </div>
</section>

<!-- Google Map -->
<script type="text/javascript">
// When the Google Library loads it will call init loading create our google map below
function init() {
    var mapOptions = {
        zoom: 15,
        center: new google.maps.LatLng(<%= t('latitude') %>, <%= t('longitude') %>),
        styles: [
            {
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#444444"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 45
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#46bcec"
                    },
                    {
                        "visibility": "on"
                    }
                ]
            }
        ]
    };

    // Get the element
    var mapElement = document.getElementById('map');

    // Create the Google Map using our element and options defined above
    var map = new google.maps.Map(mapElement, mapOptions);

    // Info Window Popover
    var contentString = '<h3 class="mt-3"><%= t("brand_long") %></h3>' +
    '<p class="lh-2"><%= t('street_address_1') %> <br /> <%= t('street_address_2') %></p>'

    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    // Let's also add a marker while we're at it
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= t('latitude') %>, <%= t('longitude') %>),
        map: map,
        title: 'Oak Clinic'
    });
    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API"] %>&callback=init"></script>
