<section class="l-home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mt-5">
        <h3 class="text-white lh-2">
          <%= t(".header_body") %>
        </h3>
        <!-- Bouncy mc'bounceface -->
        <i data-feather="chevron-down" class=" mt-5 text-white animated infinite bounce"></i>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--overlay l-content--xs">
  <div class="container">
    <div class="m-floater">
      <div class="row">
        <div class="col-lg-4 m-floater__section">
          <h5><%= t(".mission_title") %></h5>
          <div class="text-white-muted">
            <%= t(".mission_body") %>
          </div>
        </div>

        <div class="col-lg-4 m-floater__section">
          <h5><%= t(".appointment_title") %></h5>
          <div class="text-white-muted mb-4">
              <%= t(".appointment_body") %>
          </div>
          <%= link_to t(".appointment_cta"), t("jane_link"), class: "btn btn-white btn-block text-primary", target: "_blank" %>
        </div>

        <div class="col-lg-4 m-floater__section">
          <h5>Hours of Operation</h5>
          <div class="text-white-muted">
            <ul>
              <% @hours.each do |day| %>
              <li>
                <span class="text-capitalize"><%= day["name"]%></span>
                <%= day["hours"] %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--white l-content--lg l-content--bordered">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h4 class="text-primary"><%= t(".intro_title") %></h4>
        <p><%= t(".intro_1", products: link_to(t(".products"), products_path), services: link_to(t(".services"), services_path)).html_safe %></p>
        <p><%= t(".intro_2") %></p>
        <a href="mailto:hello@oakclinic.ca" class="btn btn-sm btn-outline-primary px-4"><%= t(".contact_us") %></a>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--light l-content--lg">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-6 col-12 text-center">
        <h4 class="text-primary"><%= t(".special_intro_title") %></h4>
        <p class="text-muted"><%= t(".special_intro_body") %></p>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <div class="card card-hover">
          <div class="card-body d-flex align-items-center justify-content-center mb-4 mt-5">
            <%= image_tag("icons/stomach.svg") %>
          </div>
          <div class="card-body">
            <h5><%= t(".special_title_1") %></h5>
            <p class="text-muted"><%= t(".special_1") %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="card card-hover">
          <div class="card-body d-flex align-items-center justify-content-center mb-4 mt-5">
            <%= image_tag("icons/female.svg") %>
          </div>
          <div class="card-body">
            <h5><%= t(".special_title_2") %></h5>
            <p class="text-muted"><%= t(".special_2") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="l-content l-content--xx l-content--white bb bt">
  <div class="row no-gutters align-items-center">
    <div class="col-md-4">
      <%= image_tag('backgrounds/portrait/counter.jpg', class: "w-100") %>
    </div>
    <div class="col-md-8">
      <div class="container">
        <div class="my-4 px-sm-5">
          <h4><%= t(".about_ayla_title") %></h4>
          <p class="text-muted"><%= t(".about_ayla_1") %></p>
          <p class="text-muted"><%= t(".about_ayla_2") %></p>
          <p class="text-muted"><%= t(".about_ayla_3") %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Add Mailing List -->
<%= render partial: "layouts/mailing_list" %>

<!-- Add Recent Articles -->
<%= render partial: "articles/recent_articles" %>
