<section class="l-home animated fadeIn d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="m-header">
            <div class="m-header__content">
                <h1 class="m-header__title"><%= t('oak') %></h1>
                <p class="m-header__body">
                    <%= t(".header_body") %>
                </h4>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
                        <button type="button" name="button" class="btn btn-main btn-block" data-toggle="modal" data-target="#mailingList"><%= t('.button_text')%></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hidden Modal -->
<div class="modal animated fadeInUp" id="mailingList" tabindex="-1" role="dialog" aria-labelledby="mailingList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mailingListLabel"><%= t('.mailer_modal_title') %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times fa-fw"></i>
                </button>
            </div>
            <div class="modal-body">
                <p><%= t('.mailer_modal_body') %></p>
                <!-- <%#= form_for @contact do |f| %>
                    <div class="form-group">
                        <%#= f.label :name %>
                        <%#= f.text_field :name, class: "form-control", placeholder: "John Doughboy", required: true %>
                    </div>
                    <div class="form-group">
                        <%#= f.label :name %>
                        <%#= f.text_field :name, class: "form-control", placeholder: "John Doughboy", required: true %>
                    </div>
                    <div class="form-group">
                        <%#= f.label :email %>
                        <%#= f.text_field :email, class: "form-control", placeholder: "doughboy@booblybob.com", required: true %>
                    </div>
                    <%#= f.button "Send Message", class: "btn btn-primary btn-full-width", data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i> Submitting Message"} %>
                <%# end %> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('close')%></button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('submit')%></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $.backstretch([
        'https://s3.amazonaws.com/oakclinic.ca/berries.jpg',
        'https://s3.amazonaws.com/oakclinic.ca/nuts.jpg',
        'https://s3.amazonaws.com/oakclinic.ca/bees.jpg',
        'https://s3.amazonaws.com/oakclinic.ca/eggs.jpg',
        'https://s3.amazonaws.com/oakclinic.ca/logs.jpg',
        'https://s3.amazonaws.com/oakclinic.ca/thistle.jpg',
        'https://s3.amazonaws.com/oakclinic.ca/veggies.jpg'
    ], {duration: 5000, fade: 750});
});
</script>
