<section class="l-home">
  <div class="container">
    <div class="row justify-content-center mt-n5">
      <div class="col-md-6 text-center">
        <h1 class="l-home__title"><%= t(".header_title") %></h1>
        <p class="l-home__body"><%= t(".header_body") %></p>
        <!-- Bouncy mc'bounceface -->
        <i data-feather="chevron-down" class=" mt-5 text-primary d-sm-none animated infinite bounce"></i>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--overlay l-content--xs">
  <div class="container">
    <div class="m-floater">
      <div class="row">
        <div class="col-lg-4 m-floater__section">
          <h5><%= t(".mission_title") %></h5>
          <div class="text-white-muted">
            <%= t(".mission_body") %>
          </div>
        </div>

        <div class="col-lg-4 m-floater__section">
          <h5><%= t(".appointment_title") %></h5>
          <div class="text-white-muted mb-4">
              <%= t(".appointment_body") %>
          </div>
          <%= link_to t(".appointment_cta"), t("jane_link"), class: "btn btn-white btn-block text-primary animated infinite pulse", target: "_blank" %>
        </div>

        <div class="col-lg-4 m-floater__section">
          <h5>Hours of Operation</h5>
          <div class="text-white-muted">
            <ul>
              <% @hours.each do |day| %>
              <li>
                <span class="text-capitalize"><%= day["name"]%></span>
                <%= day["hours"] %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--white l-content--lg l-content--bordered">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-6 col-12 text-center">
        <h4 class="text-primary"><%= t(".special_intro_title") %></h4>
        <p class="text-muted"><%= t(".special_intro_body") %></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="accordion" id="specialties">
          <% @specialties.each_with_index do |specialty, index| %>
            <div class="card">
              <div class="card-body card-body--hover" data-toggle="collapse" data-target="#<%= "item_#{index}" %>" aria-expanded="true" aria-controls="<%= "item_#{index}" %>">
                <h4 class="mb-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="mr-3 w-3 h-3">
                        <%= image_tag(specialty["icon"], class: "w-100 h-100") %>
                      </div>
                      <%= t(specialty["title"]) %>
                    </div>
                    <i class="fas fa-angle-down"></i>
                  </div>

                </h4>
              </div>

              <div id="<%= "item_#{index}" %>" class="collapse <%= "show" if index === 0 %>" aria-labelledby="<%= specialty["name"] %>" data-parent="#specialties">
                <div class="card-body bt">
                  <p><%= t(specialty["description"]) %></p>
                  <% if specialty["bookable"] %>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-6">
                            <%= link_to t(".book_now"), t(specialty["book"]), class: "btn btn-primary btn-block"%>
                          </div>
                          <div class="col-6">
                            <%= link_to t(".learn_more"), specialty["learn_more"], class: "btn btn-primary btn-block" if specialty["learn_more"].present? %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <p>
                      <%=
                        raw(
                          t(".special_non_bookable",
                            topic: t(specialty["title"]),
                            phone: @team_members.second["phone"],
                            email: mail_to(@team_members.second["email"])
                            )
                          )
                        %>
                      </p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--light l-content--bordered l-content--lg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h4 class="text-primary"><%= t(".intro_title") %></h4>
        <p><%= t(".intro_1") %></p>
        <p><%= t(".intro_2") %></p>
        <p><%= t(".intro_3") %></p>
        <div class="row">
          <div class="col-md-6">
            <%= link_to t(".appointment_cta"), t("jane_link"), class: "btn btn-primary btn-block mb-3 sm-md-0", target: "_blank" %>
          </div>
          <div class="col-md-6">
            <a href="mailto:hello@oakclinic.ca" class="btn btn-outline-primary btn-block"><%= t(".contact_us") %></a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="l-content__scroll row">
      <% @specialties.each_with_index do |specialty| %>
        <div class="col-xl-3 col-lg-6 col-10 mb-sm-4">
          <div class="card card--hover card--specialty text-center">
            <div class="card__icon d-flex align-items-center justify-content-center">
              <%= image_tag(specialty["icon"]) %>
            </div>
            <div class="card__body">
              <h5><%= t(specialty["title"]) %></h5>
              <p class="text-muted"><%= t(specialty["description"]) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center d-sm-none font-italic text-primary">
      <%= t(".scroll_for_more") %>
      <i class="fa fa-arrow-right animated pulse infinite ml-3"></i>
    </div> -->
  </div>
</section>

<section class="l-content l-content--white l-content--bordered l-content--md">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-6 col-12 text-center">
        <h4 class="text-primary"><%= t(".about_team_title") %></h4>
        <p class="text-muted"><%= t(".about_team_body") %></p>
      </div>
    </div>
    <div class="l-content__scroll row">
      <% @team_members.each_with_index do |team_member, index| %>
        <% if team_member["is_practitioner"] %>
          <div class="col-lg-4 col-md-6 col-10">
            <div class="card card--hover card--practitioner card-team mb-sm-3 text-center">
              <div class="card__image" style="background-image: url('<%= image_url(team_member['banner']) %>')"></div>
              <div class="card__body">
                <h4 class="mb-0"><%= team_member['name'] %></h4>
                <span class="text-primary font-weight-bold"> - <%= team_member['role'] %> - </span>
                <p class="text-muted"><%= String(team_member['practice']) %></p>
              </div>
              <div class="card__footer container-fluid">
                <div class="row">
                  <div class="col-12 mb-3">
                    <%= link_to t(".view_profile"), team_path(anchor: team_member['profile']), class: "btn btn-primary btn-block", target: "_blank" %>
                  </div>
                  <div class="col-12">
                    <% if team_member["bookable"] %>
                      <%= link_to t(".view_schedule"), team_member['schedule'], class: "btn btn-primary btn-block", target: "_blank" %>
                    <% else %>
                      <%= raw(t(".book_team_member", name: team_member["name"], email: mail_to(team_member['email']), phone: team_member['phone'])) %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="text-center d-sm-none font-italic text-primary">
      <%= t(".scroll_for_more") %>
      <i class="fa fa-arrow-right animated pulse infinite ml-3"></i>
    </div>
  </div>
</section>

<!-- Add Mailing List -->
<%= render partial: "layouts/mailing_list" %>

<!-- Add Recent Articles -->
<%= render partial: "articles/recent_articles" %>
