<section class="l-home">
  <div class="m-header">
    <div class="m-header__content">
      <h3 class="m-header__body lh-2">
        <%= t(".header_body") %>
      </h3>
    </div>
  </div>
</section>

<section class="l-content l-content--overlay l-content--xs">
  <div class="container">
    <div class="m-floater">
      <div class="row">
        <div class="col-lg-4 m-floater__section">
          <h5>Hours of Operation</h5>
          <div class="text-white-muted">
            <ul>
              <li><span class="text-white">Monday:</span>9am - 5pm</li>
              <li><span class="text-white">Tuesday:</span> 9am - 5pm</li>
              <li><span class="text-white">Wednesday:</span>9am - 5pm</li>
              <li><span class="text-white">Thursday:</span>9am - 5pm</li>
              <li><span class="text-white">Friday:</span>9am - 5pm</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 m-floater__section">
          <h5>Appointments</h5>
          <div class="text-white-muted mb-4">
              Oak Clinic is commited to helping you do you boo boo.
          </div>
          <a href="#" class="btn btn-white btn-sm btn-block">Book Now</a>
        </div>
        <div class="col-lg-4 m-floater__section">
          <h5>Our Mission</h5>
          <div class="text-white-muted">
              Oak Clinic is commited to helping you do you boo boo.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--white l-content--xl">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h4 class="text-primary">About Us</h4>
        <p><%= t(".intro_1") %></p>
        <p><%= t(".intro_2") %></p>
        <a href="mailto:hello@oakclinic.ca" class="btn btn-sm btn-outline-primary px-4">Contact Us</a>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--light l-content--lg">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-6 text-center">
        <h4 class="text-primary"><%= t(".special_intro_title") %></h4>
        <p class="text-muted"><%= t(".special_intro_body") %></p>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <div class="card card-hover">
          <div class="card-body d-flex align-items-center justify-content-center mb-4 mt-5">
            <%= image_tag("icons/stomach.svg") %>
          </div>
          <div class="card-body">
            <h5><%= t(".special_title_1") %></h5>
            <p class="text-muted"><%= t(".special_1") %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-hover">
          <div class="card-body d-flex align-items-center justify-content-center mb-4 mt-5">
            <%= image_tag("icons/female.svg") %>
          </div>
          <div class="card-body">
            <h5><%= t(".special_title_2") %></h5>
            <p class="text-muted"><%= t(".special_2") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="l-content l-content--xx white">
  <div class="row no-gutters align-items-center">
    <div class="col-md-4">
      <%= image_tag('backgrounds/bg_12.jpg', class: "w-100") %>
    </div>
    <div class="col-md-8">
      <div class="container">
        <div class="my-4 px-5">
          <h4>Dr. Ayla Andrus</h4>
          <p class="text-muted"><%= t(".intro_1") %></p>
          <p class="text-muted"><%= t(".intro_2") %></p>
        </div>
      </div>
    </div>
  </div>
</section>
