<% content_for(:title) { t(".header_title") } %>
<% content_for(:description) { t(".header_body") } %>

<%= render partial: "layouts/topper", locals: {type: "naturopathy-1", title: t(".header_title"), body: t(".header_body")} %>

<section class="l-content l-content--white l-content--bordered l-content--lg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="l-content__body">
          <h4><%= t('.s_one_title_one') %></h4>
          <p><%= t('.s_one_body_one').gsub(/\n/, '<br/>').html_safe %></p>
          <br>
          <h4><%= t('.s_one_title_two') %></h4>
          <p><%= t('.s_one_body_two').gsub(/\n/, '<br/>').html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "layouts/topper", locals: {type: "naturopathy-2", title: nil, body: nil} %>

<section id="benefits" class="l-content l-content--white l-content--bordered l-content--lg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="l-content__body">
          <h4><%= t('.s_one_title_three') %></h4>
          <p><%= t('.s_one_body_three_1').gsub(/\n/, '<br/>').html_safe %></p>
          <%= image_tag 'logos/insurance.png', class: "w-100 my-5", alt: t("insurance") %>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="alert alert-primary text-center">
                <%= t('.s_one_body_three_2').gsub(/\n/, '<br/>').html_safe %>
              </div>
            </div>
          </div>
          <br>
          <h4><%= t('.s_one_title_four') %></h4>
          <p><%= t('.s_one_body_four').gsub(/\n/, '<br/>').html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</section>
