<% content_for(:title) { t(".header_title") } %>
<% content_for(:description) { t(".header_body") } %>

<%= render partial: "layouts/topper", locals: {type: "services", title: t(".header_title"), body: t(".header_body")} %>

<section class="l-content l-content--white l-content--bordered l-content--md">
  <div class="container">
    <h4 class="mb-4"><%= t(".initial_apt_title") %></h4>
    <div class="l-content__scroll row">
      <% @primary_services.each_with_index do |service, index| %>
      <div class="col-lg-4 col-md-6 col-10">
        <div class="card card--hover card--service mb-3 text-center">
          <div class="card__body d-flex align-items-center justify-content-center mb-3 mt-4">
            <%= image_tag service['image'], alt: service['title'] %>
          </div>
          <div class="card__body">
            <h5><%= service['title'] %></h5>
            <span class="badge badge-pill badge-primary px-3 py-2"><%= service['price'] %></span>
          </div>
          <div class="card__body card__body--service">
            <p class="text-muted"><%= service['about'] %></p>
            <p class="text-muted"><%= service['about_more'] %></p>
          </div>
          <div class="card__footer bg-light bt text-center rounded-bottom">
            <%= link_to t("book_now"), service['link'], class: "btn btn-primary btn-block", target: "_blank" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="text-center d-sm-none font-italic text-primary">
      <%= t(".scroll_for_more") %>
      <i class="fa fa-arrow-right animated pulse infinite ml-3"></i>
    </div>
    <div class="row justify-content-center text-center text-muted mt-4">
      <div class="col-md-8">
        <p><small><%= t(".about_coverage") %></small></p>
        <%= link_to t(".coverage_cta"), naturopathy_path(anchor: "benefits"), class: "btn btn-outline-primary btn-sm" %>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--light l-content--bordered l-content--md">
  <div class="container">
    <h4 class="mb-4"><%= t(".follow_up_title") %></h4>
    <div class="l-content__scroll row">
      <% @secondary_services.each do |service| %>
      <div class="col-lg-4 col-md-6 col-10">
        <div class="card card--hover card--service mb-3 text-center">
          <div class="card__body d-flex align-items-center justify-content-center mb-3 mt-4">
            <%= image_tag service['image'], alt: service['title'] %>
          </div>
          <div class="card__body">
            <h5><%= service['title'] %></h5>
            <span class="badge badge-pill badge-outline badge-primary px-3 py-2"><%= service['price'] %></span>
          </div>
          <div class="card__body card__body--service">
            <p class="text-muted"><%= service['about'] %></p>
          </div>
          <div class="card__footer">
            <% if service['bookable'] %>
            <%= link_to t("book_now"), service['link'], class: "btn btn-primary btn-block", target: "_blank" %>
            <% else %>
              <small><%= raw(t(".not_bookable", email: mail_to(t("email_address"), t("email_address")))) %></small>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="text-center d-sm-none font-italic text-primary">
      <%= t(".scroll_for_more") %>
      <i class="fa fa-arrow-right animated pulse infinite ml-3"></i>
    </div>
  </div>
</section>

<section class="l-content l-content--md l-content--white l-content--bordered">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-4 text-center">
        <%= image_tag('backgrounds/portrait/supplements.jpg', class: "l-content__section__image") %>
      </div>
      <div class="col-md-6 col-lg-8">
        <div class="container">
          <div class="my-4 my-4">
            <h4><%= t(".about_supplements_title") %></h4>
            <p class="text-muted"><%= t(".about_supplements_1") %></p>
            <p class="text-muted"><%= t(".about_supplements_2") %></p>
            <div class="row">
              <div class="col-md-12 col-lg-9">
                <div class="alert alert-primary">
                  <h6 class="text-uppercase font-weight-bold"><%= t(".about_supplements_alert_title") %></h6>
                  <div class="text-sm"><%= t(".about_supplements_alert_body") %></div>
                </div>
              </div>
            </div>
            <a href="https://ca.fullscript.com/welcome/oakclinic" target="_blank" class="btn btn-primary"><%= t(".fullscript_cta") %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--md l-content--white l-content--bordered">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-4 order-sm-12 text-center">
        <%= image_tag('backgrounds/portrait/dispensary.jpg', class: "l-content__section__image") %>
      </div>
      <div class="col-md-6 col-lg-8 order-sm-1">
        <div class="container">
          <div class="my-4 my-4">
            <h4><%= t(".about_dispensary_title") %></h4>
            <p class="text-muted"><%= t(".about_dispensary_1") %></p>
            <p class="text-muted"><%= t(".about_dispensary_2") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-content l-content--light l-content--bordered l-content--xl">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h4 class="text-primary"><%= t(".intro_title") %></h4>
        <p><%= t(".intro_body") %></p>
        <%= link_to t("book_now"), t("jane_link"), class: "btn btn-primary px-4", target: "_blank" %>
      </div>
    </div>
  </div>
</section>
