
<%= form_for(project) do |f| %>
<% if project.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
        <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control", required: true %>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <%= f.label :date %>
            <%= f.text_field :date, class: "form-control", required: true %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <%= f.label :status %>
            <%= f.select :status, Project.statuses.keys, {}, {class: "form-control"} %>
        </div>
    </div>
</div>

<!-- WYSIWYG EDITOR -->
<div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control wysihtml5", required: true %>
</div>
<!-- UNFILTERED EDITOR -->
<button type="button" name="button" id="descriptionToggle" class="btn btn-danger mb-2">Show Unfiltered</button>
<div id="description" class="form-group hidden">
    <textarea name="name" rows="8" cols="80" class="form-control "><%= @project.description %></textarea>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <%= f.label :image do %><span class="fa fa-image"></span> Image<% end %>
            <%= f.text_field :image, class: "form-control", required: true %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <%= f.label :banner do %><span class="fa fa-image"></span> Banner<% end %>
            <%= f.text_field :banner, class: "form-control", required: true %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <%= f.label :link do %><span class="fa fa-link"></span> Site Link<% end %>
            <%= f.text_field :link, class: "form-control" %>
        </div>
    </div>
</div>

<div class="form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, class: "form-control", required: true %>
</div>

<div class="float-xs-right">
    <%= f.submit "Save", class: "btn btn-primary", required: true %>
</div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
    // TOGGLE WYSIWYG
    $('#descriptionToggle').click(function(){
        $('#description').toggleClass("hidden");
    })
    // INITIALIZE WYSIWYG
    $('.wysihtml5').wysihtml5();
    // BS3 FIXES FOR WYSIWYG
    $(".btn-default").removeClass("btn-default").addClass("btn-secondary");
    $(".glyphicon").removeClass("glyphicon").addClass("fa");
    // ICONS
    $(".glyphicon-font").removeClass("glyphicon-font").addClass("fa-font");
    $(".glyphicon-quote").removeClass("glyphicon-quote").addClass("fa-quote-right");
    $(".glyphicon-list").removeClass("glyphicon-list").addClass("fa-list-ul");
    $(".glyphicon-th-list").removeClass("glyphicon-th-list").addClass("fa-list-ol");
    $(".glyphicon-indent-right").removeClass("glyphicon-indent-right").addClass("fa-arrow-left");
    $(".glyphicon-indent-left").removeClass("glyphicon-indent-left").addClass("fa-arrow-right");
    $(".glyphicon-share").removeClass("glyphicon-share").addClass("fa-link");
    $(".glyphicon-picture").removeClass("glyphicon-picture").addClass("fa-picture-o");
    // MENU ITEMS
    $(".dropdown-menu li a").addClass("dropdown-item");
});
</script>
