<% @projects.each do |project| %>
<div class="col-md-4">
    <div class="card">
        <%= image_tag project.image, class:"card-img-top", alt:"codego" %>
        <div class="card-block">
            <h4 class="card-title"><%= project.title %></h4>
            <p class="small"><%= project.date %></p>
            <p class="card-text"><%= project.summary %></p>
            <%= link_to "Read Story", project_path(project), class: "btn btn-block btn-primary" %>
            <% if user_signed_in? %>
                <%= link_to 'Edit', edit_project_path(project), class: "btn btn-block btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
<% end %>
