<div id="projectImage" style="background: url(<%= @project.banner %>)"></div>
<div id="pageContent" class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="breadcrumb pt-0">
                <%= link_to "Home", root_path, class: "breadcrumb-item" %>
                <% if user_signed_in? %>
                <%= link_to "Projects", projects_path, class: "breadcrumb-item" %>
                <% end %>
                <%= link_to @project.title, "#", class: "breadcrumb-item active" %>
            </nav>
            <div class="read-time-floater animated bounceInRight box-shadow">
                <div class="read-time-content">
                    <div class="read-time-number" id="timeLeft"></div>
                    <div class="small">MINUTES</div>
                </div>
            </div>
            <div class="row flex-items-xs-middle">
                <div class="col-md-6">
                    <h2><%= @project.title %></h2>
                    <p class="font-weight-bold small"><%= @project.date %></p>
                </div>
                <div class="col-md-6 text-xs-right">
                    <% if @project.link.present? %>
                    <%= link_to "Visit #{@project.title}", @project.link, class: "btn btn-primary", target: "_blank" %>
                    <% end %>
                </div>
            </div>

            <div id="projectDescription" class="py-3">
                <p><%= simple_format(@project.description) %></p>
            </div>
            <hr>
            <!-- RANDOM PROJECTS -->
            <h5 id="endOfProject">Some Other Projects</h5>
            <div class="row pt-2">
                <%= render partial: "projects/project_card" %>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        // Add Responsive Class
        $("#projectDescription img").addClass("img-fluid");

        // Basic Word Count
        var $wordsPerMinute = 150;
        $("#timeLeft").html((<%= @word_count %> / $wordsPerMinute).toFixed(2));

        // Calulate Read Time on load, scroll & resize
        $(window).scroll(function (event) {
            calculateReadTime();
        });

        function calculateReadTime() {
            // Constants
            var $topOffest = $("#projectDescription").offset().top;
            var $lineHeight = 34;

            // Window Width
            var $windowWidth = $(window).width();

            // Words per line based on screen width (!very arbitrary cunt!)
            if ( $windowWidth > 1200) {
                var $wordPerLine =  21;
            } else if ( $windowWidth > 991) {
                var $wordPerLine =  17;
            } else if ( $windowWidth > 768) {
                var $wordPerLine =  14;
            } else if ( $windowWidth > 500) {
                var $wordPerLine =  10;
            } else {
                var $wordPerLine =  7;
            }

            // Calculate time left based on scroll postion
            var $scroll = $(window).scrollTop();
            var $distanceToEnd = $("#endOfProject").offset().top - $scroll;
            var $timeLeft = (((($distanceToEnd - $topOffest) / $lineHeight) * $wordPerLine) / $wordsPerMinute).toFixed(2);

            // Put updated time into the floater
            $("#timeLeft").html($timeLeft);

            // Fade out when you reach the bottom
            if ($timeLeft < 0.1) {
                $(".read-time-floater").fadeOut(200);
            } else {
                $(".read-time-floater").fadeIn(200);
            }
        };
    });
</script>
