<section class="l-content l-content--white bt l-content--xs fixed-bottom d-sm-none zi-1">
  <div class="container text-center">
    <%= link_to t("book_appointment"), t("jane_link"), class: "btn btn-primary btn-block", target: "_blank" %>
  </div>
</section>

<section class="l-content l-content--light l-content--lg">
  <div class="container">
    <div class="row">
      <!-- Logit -->
      <div class="m-footer col-md-3">
        <div class="m-footer__title"><%= t("brand_long")%></div>
        <ul class="list-unstyled lh-3">
          <li><%= link_to t("layouts.header.home"), root_path %></li>
          <li><%= link_to t("layouts.header.services"), services_path %></li>
          <li><%= link_to t("layouts.header.iv_therapy"), iv_therapy_path %></li>
          <li><%= link_to t("layouts.header.injections"), injections_path %></li>
          <li><%= link_to t("layouts.header.products"), products_path %></li>
          <li><%= link_to t("layouts.header.news"), articles_path %></li>
          <li><%= link_to t("layouts.header.contact"), contact_path %></li>
          <li><%= link_to t("layouts.header.faq"), faq_path %></li>
        </ul>
      </div>

      <!-- Features -->
      <div class="m-footer col-md-4">
        <div class="m-footer__title"><%= t("Clinic Location") %></div>
        <address class="mb-4">
          <%= t("street_address_1") %>
          <br>
          <%= t("street_address_2") %>
          <br>
          <%= link_to t("get_directions"), t("location_link"), target: "_blank" %></a>
        </address>
        <div class="m-footer__title"><%= t("Contact Us") %></div>
        <ul class="list-unstyled lh-3">

          <li><%= icon("fas", "phone", class: "mr-3 text-medium") %><a href="tel:<%= t("phone_number") %>"><%= t("phone_number") %></a></li>
          <li><%= icon("fas", "fax", class: "mr-3 text-medium") %><a href="tel:<%= t("phone_number") %>"><%= t("fax_number") %></a></li>
          <li><%= icon("fas", "envelope", class: "mr-3 text-medium") %><a href="<%= t("email_address") %>"><%= t("email_address") %></a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="m-footer col-md-2">
        <div class="m-footer__title"></div>
        <ul class="list-unstyled lh-3">

        </ul>
      </div>

      <!-- Address -->
      <div class="m-footer col-md-3">
        <div class="m-footer__title"><%= t("Account") %></div>
        <ul class="list-unstyled lh-3">
          <% if user_signed_in? %>
          <li>
            <%= link_to t("layouts.header.profile"), edit_user_registration_path %>
          </li>
          <li>
            <%= link_to t("layouts.header.new_article"), new_article_path %>
          </li>
          <li>
            <%= link_to t("layouts.header.sign_out"), destroy_user_session_path, :method => :delete %>
          </li>
          <% else %>
          <li>
            <%= link_to t("layouts.header.sign_in"),new_user_session_path %>
          </li>
          <% end %>
        </ul>

        <ul class="list-unstyled lh-3">
          <li>
            <%= link_to "#{t("brand_long")} 2020", root_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- By Line -->
<section class="l-content l-content--primary l-content--vrg">
  <div class="container text-center text-white">
    <p class="mb-0">Developed with <i class="fas fa-heart text-danger mx-1 animated infinite pulse"></i> in British Columbia.</p>
    <%= link_to "VRG Interactive Inc.", "https://vrginteractive.com", title: "VRG Interactive -- Development Agency", class: "text-white text-underline" %>
  </div>
</section>
