<section class="l-content l-content--light l-content--lg">
  <div class="container">
    <div class="row">
      <!-- Logit -->
      <div class="m-footer col-md-3">
        <div class="m-footer__title"><%= t("brand_long")%></div>
        <ul class="list-unstyled lh-3">
          <li><%= link_to t("layouts.header.products"), products_path %></li>
          <li><%= link_to t("layouts.header.services"), contact_path %></li>
          <li><%= link_to t("layouts.header.news"), articles_path %></li>
          <li><%= link_to t("layouts.header.contact"), contact_path %></li>
          <li><%= link_to t("layouts.header.faq"), faq_path %></li>
        </ul>
      </div>

      <!-- Features -->
      <div class="m-footer col-md-4">
        <div class="m-footer__title"><%= t("Clinic Location") %></div>
        <address class="mb-4">
          <%= t("street_address_1") %>
          <br>
          <%= t("street_address_2") %>
          <br>
          <%= link_to t("get_directions"), t("location_link") %></a>
        </address>
        <div class="m-footer__title"><%= t("Contact Us") %></div>
        <ul class="list-unstyled lh-3">
          <li><a href="tel:3067178679">1 (306) 717 8679</a></li>
          <li><a href="hello@oakclinic.ca">hello@oakclinic.ca</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="m-footer col-md-2">
        <div class="m-footer__title"></div>
        <ul class="list-unstyled lh-3">

        </ul>
      </div>

      <!-- Address -->
      <div class="m-footer col-md-3">
        <div class="m-footer__title"><%= t("Account") %></div>
        <ul class="list-unstyled lh-3">
          <% if user_signed_in? %>
          <li>
            <%= link_to t("layouts.header.profile"), edit_user_registration_path %>
          </li>
          <li>
            <%= link_to t("layouts.header.new_article"), new_article_path %>
          </li>
          <li>
            <%= link_to t("layouts.header.sign_out"), destroy_user_session_path, :method => :delete %>
          </li>
          <% else %>
          <li>
            <%= link_to t("layouts.header.sign_in"),new_user_session_path %>
          </li>
          <% end %>
        </ul>

        <ul class="list-unstyled lh-3">
          <li>
            <span>&copy; <%= t("brand_long") %> 2017</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
