<section class="l-content l-content--light l-content--lg bt">
  <div class="container">
    <div class="row">
      <!-- Logit -->
      <div class="m-footer col-md-3">
        <div class="m-footer__title"><%= t("brand_long")%></div>
        <ul class="list-unstyled lh-3">
          <li>
            <%= link_to about_path do %>
            <%= t("layouts.header.about") %>
            <% end %>
          </li>
          <li>
            <%= link_to t("layouts.header.naturopathic_medicine"), naturopathic_medicine_path %>
          </li>
        </ul>

        <ul class="list-unstyled lh-3">
          <li>
            <span>&copy; <%= t("brand_long") %> 2017</span>
          </li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="m-footer col-md-3">
        <div class="m-footer__title"></div>
        <ul class="list-unstyled lh-3">

        </ul>
      </div>

      <!-- Features -->
      <div class="m-footer col-md-3">
        <div class="m-footer__title"><%= t("Clinic Location") %></div>
        <address class="mb-4">
          Unit 105, 816 103 Avenue<br>
          Dawson Creek, BC V1G 2G1
        </address>
        <div class="m-footer__title"><%= t("Contact Us") %></div>
        <ul class="list-unstyled lh-3">
          <li><a href="tel:18885022361">1 (888) 502 2361</a></li>
          <li><a href="hello@oakclinic.ca">hello@oakclinic.ca</a></li>
        </ul>
      </div>

      <!-- Address -->
      <div class="m-footer col-md-3">
        <div class="m-footer__title"><%= t("Account") %></div>
        <ul class="list-unstyled lh-3">
          <% if user_signed_in? %>
          <li>
            <%= link_to t("layouts.header.profile"), edit_user_registration_path %>
          </li>
          <li>
            <%= link_to t("layouts.header.new_article"), new_article_path %>
          </li>
          <li>
            <%= link_to t("layouts.header.sign_out"), destroy_user_session_path, :method => :delete %>
          </li>
          <% else %>
          <li>
            <%= link_to t("layouts.header.sign_in"),new_user_session_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
