<% safe_id = params[:id] || 0 %>
<div class="m-nav m-nav__top m-nav__root <%= current_page?(articles_path) ||
current_page?(edit_user_registration_path) ||
current_page?(controller: "/articles", action: "new") ||
current_page?(controller: "/articles", action: "edit", id: safe_id) ?
'm-nav--inverse' : 'm-nav__transition' %>">
<div class="container">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-12">
      <div class="d-block">
        <%= link_to root_path do %>
        <h2 class="m-nav__logo"><%= t("brand_long")%></h2>
        <% end %>
      </div>
      <div class="d-block">
        <ul class="m-nav__list d-flex align-items-center">
          <li class="m-nav__link d-none d-sm-flex <%= 'm-nav__link--active' if current_page?(about_path) %>">
            <%= link_to t(".about"), about_path %>
          </li>
          <li class="m-nav__link d-none d-sm-flex <%= 'm-nav__link--active' if current_page?(naturopathic_medicine_path) %>">
            <%= link_to t(".naturopathic_medicine"), naturopathic_medicine_path %>
          </li>
          <li class="m-nav__link d-none d-sm-flex <%= 'm-nav__link--active' if current_page?(naturopathic_medicine_path) %>">
            <%= link_to t(".articles"), articles_path %>
          </li>
          <li class="m-nav__link d-none d-sm-flex <%= 'm-nav__link--active' if current_page?(naturopathic_medicine_path) %>">
            <%= link_to t(".book_now"), articles_path, class: "m-nav__button" %>
          </li>
          <li class="m-nav__link js-toggle-navigation">
            <i class="fa fa-bars fa-fw"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Hidden Fields to Help With JS Styling -->
<span class="d-none text-dark"></span>
<span class="d-none text-muted"></span>
<span class="d-none text-primary"></span>
<span class="d-none text-info"></span>
<span class="d-none text-success"></span>
<span class="d-none text-warning"></span>
<span class="d-none text-danger"></span>

<script type="text/javascript">
$(document).ready(function() {
  // Get colors from the UI
  function getColor(color) {
    return color.slice(4, color.length - 1);
  }

  window.BRAND_COLORS = {
    dark:    $(".text-dark").css("color"),
    muted:   $(".text-muted").css("color"),
    primary: $(".text-primary").css("color"),
    info:    $(".text-info").css("color"),
    success: $(".text-success").css("color"),
    warning: $(".text-warning").css("color"),
    danger:  $(".text-danger").css("color")
  };

  window.BRAND_COLOR_STRINGS = {
    dark:    getColor(window.BRAND_COLORS.dark),
    muted:   getColor(window.BRAND_COLORS.muted),
    primary: getColor(window.BRAND_COLORS.primary),
    info:    getColor(window.BRAND_COLORS.info),
    success: getColor(window.BRAND_COLORS.success),
    warning: getColor(window.BRAND_COLORS.warning),
    danger:  getColor(window.BRAND_COLORS.danger)
  };
});
</script>
