<% safe_id = params[:id] || 0 %>
<div class="m-nav m-nav__top <%= current_page?(edit_user_registration_path) ||
current_page?(controller: "/articles", action: "new") ||
current_page?(controller: "/articles", action: "edit", id: safe_id) ? "m-nav--white" : "m-nav--transparent" %>">
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div class="lh-0">
        <%= link_to root_path do %>
          <%= image_tag 'logos/oak_full.svg', class: "m-nav__logo", alt: t("Oak Clinic") %>
        <% end %>
      </div>
      <div class="d-none d-md-block">
        <ul class="list-unstyled mb-0 d-flex align-items-center">
          <li class="mr-4">
            <%= link_to t(".services"), services_path, class: "#{'active' if current_page?(services_path)}" %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".products"), products_path, class: "#{'active' if current_page?(products_path)}" %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".news"), articles_path, class: "#{'active' if current_page?(articles_path)}" %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".contact"), contact_path, class: "#{'active' if current_page?(contact_path)}" %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".faq"), faq_path, class: "#{'active' if current_page?(faq_path)}"  %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".book_now"), t("jane_link"), class: "m-nav__button", target: "_blank" %>
          </li>
        </ul>
      </div>
      <div class="d-md-none">
        <ul class="list-unstyled mb-0 d-flex align-items-center">
          <li class="js-toggle-navigation">
            <%= icon("fas", "bars") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  // Minipulate navigation style based on position
  <% unless current_page?(edit_user_registration_path) ||
  current_page?(controller: "/articles", action: "new") ||
  current_page?(controller: "/articles", action: "edit", id: safe_id) %>
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll <= 100) {
      $(".m-nav").removeClass("m-nav--white").addClass("m-nav--transparent");
    } else if (scroll >= 100) {
      $(".m-nav").addClass("m-nav--white").removeClass("m-nav--transparent");
    }
  });
  <% end %>
});
</script>
