<% safe_id = params[:id] || 0 %>
<div class="m-nav m-nav__top <%= current_page?(edit_user_registration_path) ||
current_page?(controller: "/articles", action: "new") ||
current_page?(controller: "/articles", action: "edit", id: safe_id) ? "m-nav--white" : "m-nav--transparent" %>">
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div class="d-block">
        <%= link_to root_path do %>
        <h2 class="m-nav__logo mb-0"><%= t("brand_long")%></h2>
        <% end %>
      </div>
      <div class="d-block">
        <ul class="list-unstyled mb-0 d-flex align-items-center">
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".services"), services_path, class: "#{'active' if current_page?(services_path)}" %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".products"), products_path, class: "#{'active' if current_page?(products_path)}" %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".news"), articles_path, class: "#{'active' if current_page?(articles_path)}" %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".contact"), contact_path, class: "#{'active' if current_page?(contact_path)}" %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".faq"), faq_path, class: "#{'active' if current_page?(faq_path)}"  %>
          </li>
          <li class="mr-4 d-none d-sm-flex">
            <%= link_to t(".book_now"), articles_path, class: "m-nav__button" %>
          </li>
          <li class="js-toggle-navigation d-sm-none">
            <i class="fa fa-bars fa-fw"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Hidden Fields to Help With JS Styling -->
<span class="d-none text-dark"></span>
<span class="d-none text-muted"></span>
<span class="d-none text-primary"></span>
<span class="d-none text-info"></span>
<span class="d-none text-success"></span>
<span class="d-none text-warning"></span>
<span class="d-none text-danger"></span>

<script type="text/javascript">
$(document).ready(function() {
  // Get colors from the UI
  function getColor(color) {
    return color.slice(4, color.length - 1);
  }

  window.BRAND_COLORS = {
    dark:    $(".text-dark").css("color"),
    muted:   $(".text-muted").css("color"),
    primary: $(".text-primary").css("color"),
    info:    $(".text-info").css("color"),
    success: $(".text-success").css("color"),
    warning: $(".text-warning").css("color"),
    danger:  $(".text-danger").css("color")
  };

  window.BRAND_COLOR_STRINGS = {
    dark:    getColor(window.BRAND_COLORS.dark),
    muted:   getColor(window.BRAND_COLORS.muted),
    primary: getColor(window.BRAND_COLORS.primary),
    info:    getColor(window.BRAND_COLORS.info),
    success: getColor(window.BRAND_COLORS.success),
    warning: getColor(window.BRAND_COLORS.warning),
    danger:  getColor(window.BRAND_COLORS.danger)
  };

  // Minipulate navigation style based on position
  <% unless current_page?(edit_user_registration_path) ||
  current_page?(controller: "/articles", action: "new") ||
  current_page?(controller: "/articles", action: "edit", id: safe_id) %>
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll <= 100) {
      $(".m-nav").removeClass("m-nav--white").addClass("m-nav--transparent");
    } else if (scroll >= 100) {
      $(".m-nav").addClass("m-nav--white").removeClass("m-nav--transparent");
    }
  });
  <% end %>
});
</script>
