<div class="l-navigation animated fadeIn d-none js-toggle-navigation">
    <div class="l-navigation__content">
        <div class="l-navigation__link animated fadeInRight">
            <%= link_to root_path do %>
                <%= t("layouts.header.home")%>
            <% end %>
        </div>
        <div class="l-navigation__link animated fadeInLeft">
            <%= link_to contact_path do %>
                <%= t("layouts.header.about")%>
            <% end %>
        </div>
        <div class="l-navigation__link animated fadeInRight">
            <%= link_to faq_path do %>
                <%= t("layouts.header.faq")%>
            <% end %>
        </div>
        <div class="l-navigation__link animated fadeInLeft mb-5">
            <%= link_to articles_path do %>
                <%= t("layouts.header.articles")%>
            <% end %>
        </div>
    </div>
</div>
