<div class="l-navigation animated fadeIn d-none js-toggle-navigation">
  <div class="l-navigation__content">
    <div class="l-navigation__link animated fadeInRight">
      <%= link_to root_path do %>
      <%= t("layouts.header.home")%>
      <% end %>
    </div>
    <div class="l-navigation__link animated fadeInLeft">
      <%= link_to services_path do %>
      <%= t("layouts.header.services")%>
      <% end %>
    </div>
    <div class="l-navigation__link animated fadeInLeft">
      <%= link_to naturopathy_path do %>
      <%= t("layouts.header.naturopathy")%>
      <% end %>
    </div>
    <div class="l-navigation__link animated fadeInRight">
      <%= link_to iv_therapy_path do %>
      <%= t("layouts.header.iv_therapy")%>
      <% end %>
    </div>
    <div class="l-navigation__link animated fadeInLeft">
      <%= link_to nst_path do %>
      <%= t("layouts.header.nst")%>
      <% end %>
    </div>
    <div class="l-navigation__link animated fadeInRight">
      <%= link_to team_path do %>
      <%= t("layouts.header.team")%>
      <% end %>
    </div>
    <div class="l-navigation__link animated fadeInRight">
      <%= link_to contact_path do %>
      <%= t("layouts.header.contact")%>
      <% end %>
    </div>
  </div>
</div>
