<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%
    safe_id = params[:id] || 0
    page_title = t('brand_long')
    page_description = t('brand_description')
    brand_image = "https://s3.amazonaws.com/oakclinic.ca/sharing.jpg"
    page_image = brand_image
    page_url = "#{t('base_url')}#{request.env['PATH_INFO']}"
    page_type = "website"

    if current_page?(controller: "/articles", action: "show", id: safe_id)
      page_title = @article.title
      page_description = strip_tags(@article.body).truncate(200)
      page_image = image_path(@article.image)
      page_type = "article"
    end

    if current_page?(controller: "/pages", action: "index")
      page_title = "#{t('brand_long')} | #{t('city')}"
    end
  %>

  <title><%= content_for?(:title) ? "#{content_for(:title)} | #{page_title}" : page_title %></title>
  <meta name="author" content="Oak Clinic">
  <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : page_description %>">
  <meta name="keywords" content="Dawson Creek Naturopathic Clinic Doctor">
  <link rel="canonical" href="<%= t('base_url') %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#2F7D49">

  <!-- =================
  FAV AND TOUCH ICONS
  ====================== -->
  <%= render 'application/favicon' %>

  <!-- =================
  FACEBOOK OPENGRAPH
  ====================== -->

  <meta property="og:url"                content="<%= page_url %>">
  <meta property="og:type"               content="<%= page_type %>">
  <meta property="og:title"              content="<%= page_title %>">
  <meta property="og:description"        content="<%= page_description %>">

  <!-- NOTE: Remember to come back and update these for sharing cards -->
  <meta property="og:image"              content="<%= page_image %>">
  <meta property="og:image:url"          content="<%= page_image %>">
  <meta property="og:image:secure_url"   content="<%= page_image %>">
  <!-- =================
  GOOGLE ANALYTICS
  ====================== -->
  <% if Rails.env.production? %>
  <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '<%= ENV['GOOGLE_ANALYTICS_KEY'] %>', 'auto');
  </script>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- =================
  GOOGLE STRUCTURED DATA
  ====================== -->
  <% if current_page?(controller: "/pages", action: "index") %>
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "LocalBusiness",
    "name" : "<%= t("brand_long") %>",
    "description" : "<%= t('brand_description') %>",
    "image" : "<%= brand_image %>",
    "telephone" : "<%= t("phone_number") %>",
    "faxNumber" : "<%= t("fax_number") %>",
    "email" : "<%= t("email_address") %>",
    "openingHours" : ["Mo-Tu 9:00-15:00", "We-Th 12:00-18:00", "Fr 09:00-15:00"],
    "currenciesAccepted": "CAD",
    "paymentAccepted" : "Cash, Credit Card",
    "url": "<%= t('base_url') %>",
    "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "10212 17 Street",
      "addressLocality" : "Dawson Creek",
      "addressRegion" : "Peace Country",
      "addressCountry" : "Canada",
      "postalCode" : "V1G 4C2"
    }
  }
  </script>
  <% end %>

  <% if current_page?(controller: "/articles", action: "show", id: safe_id) %>
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Article",
    "name" : "<%= page_title %>",
    "author" : {
      "@type" : "Person",
      "name" : "<%= @article.user.first_name %> <%= @article.user.last_name %>"
    },
    "datePublished" : "<%=  @article.created_at %>",
    "dateModified" : "<%=  @article.updated_at %>",
    "image" : "<%= page_image %>",
    "articleBody" : "<%= strip_tags(@article.body) %>",
    "url" : "<%= page_url %>",
    "headline" : "<%= page_title %>",
    "publisher" : {
      "@type" : "Organization",
      "name" : "<%= t("brand_long") %>",
      "logo": {
        "@type": "ImageObject",
        "url": "<%= image_url("logos/oak-publisher-logo.png")%>",
        "width": 600,
        "height": 60
      }
    }
  }
  </script>
  <% end %>
</head>

<body>
  <!-- CREATE SAFE ID -->
  <% safe_id = params[:id] || 0 %>

  <!-- RENDER CONTENT -->
  <section class="l-content l-content--primary w-100 p-4 text-white">
    <div class="container">
      <h4 class="font-weight-bold"><%= t("alerts.covid.title") %></h4>
      <p><%= raw(t("alerts.covid.body")) %></p>
      <a href="tel:<%= t("phone_number") %>" class="text-white"><%= t("phone_number") %></a>
      <span class="mx-3">|</span>
      <a href="mailto:<%= t("email_address") %>" class="text-white"><%= t("email_address") %></a>
    </div>
  </section>
  <%= render partial: "layouts/notify", flash: flash %>
  <%= render partial: "layouts/navigation" %>
  <%= render partial: "layouts/header" %>
  <%= render partial: "layouts/modal" %>
  <%= yield %>
  <%= render partial: "layouts/footer" %>

  <!-- =================
  JAVASCRIPT
  ====================== -->
  <%= filestack_js_include_tag %>
  <%= filestack_js_init_tag %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
  <%= render partial: "layouts/colors" %>
</body>
</html>
