<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%
    safe_id = params[:id] || 0
    page_title = t('brand_long')
    page_description = t('brand_description')
    page_image = "https://s3.amazonaws.com/oakclinic.ca/sharing.jpg"
    page_type = "website"

    if current_page?(controller: "/articles", action: "show", id: safe_id)
      page_title = @article.title
      page_description = strip_tags(@article.body).truncate(200)
      page_image = image_path(@article.image)
      page_type = "article"
    end
  %>

  <title><%= page_title %></title>
  <meta name="author" content="Oak Clinic">
  <meta name="description" content="<%= page_description %>">
  <meta name="keywords" content="Dawson Creek Naturopathic Clinic Doctor">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#2F7D49">

  <!-- =================
  FAV AND TOUCH ICONS
  ====================== -->
  <%= render 'application/favicon' %>

  <!-- =================
  FACEBOOK OPENGRAPH
  ====================== -->

  <meta property="og:url"                content="<%= "#{t('base_url')}#{request.env['PATH_INFO']}" %>">
  <meta property="og:type"               content="<%= page_type %>">
  <meta property="og:title"              content="<%= page_title %>">
  <meta property="og:description"        content="<%= page_description %>">

  <!-- NOTE: Remember to come back and update these for sharing cards -->
  <meta property="og:image"              content="<%= page_image %>">
  <meta property="og:image:url"          content="<%= page_image %>">
  <meta property="og:image:secure_url"   content="<%= page_image %>">
  <!-- =================
  GOOGLE ANALYTICS
  ====================== -->
  <% if Rails.env.production? %>
  <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '<%= ENV['GOOGLE_ANALYTICS_KEY'] %>', 'auto');
  </script>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!-- CREATE SAFE ID -->
  <% safe_id = params[:id] || 0 %>

  <!-- RENDER CONTENT -->
  <%= render partial: "layouts/notify", flash: flash %>
  <%= render partial: "layouts/navigation" %>
  <%= render partial: "layouts/header" %>
  <%= render partial: "layouts/modal" %>
  <%= yield %>
  <%= render partial: "layouts/footer" %>

  <!-- =================
  JAVASCRIPT
  ====================== -->
  <%= filestack_js_include_tag %>
  <%= filestack_js_init_tag %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
  <%= render partial: "layouts/colors" %>
</body>
</html>
